<div class="hero__container">
  <div class="hero__left">
    <h1>Make Your self better everyday</h1>
    <h2>Detox yourself with better you</h2>
    <%= link_to 'Get started',logout_path,method: :delete ,class:'btn'%> 
         
  </div>

  <div class="hero__right">
    <%= image_tag 'hero.jpg' ,class:'hero__img'%>
  </div>


</div>
  