<h1>Hi mom</h1>
<% if logged_in? %>
  <%= link_to 'Logout ',logout_path,method: :delete %>
<% else %>
  <%= link_to 'Login',login_path %>
<% end %>
<hr>
<% @users.each do |user| %>
  <% if user.show_name %>
      <%= user.name %> <br>
  <% else %>
      anonymous <br>
  <% end %>
<% end %>