<div class="users_container">
  <% if @users %>
    <% @users.each do |user| %>
      <% ut=UserTask.where user:user %>
      <div class="users">
        <% if UserShowname.find_by(user:user).show_name %>
          <p > <b class='underline basecolor'> @<%= link_to"#{ user.username}",user_path(user) %> </b></p>
        <% else %>
          <p> <b class='basecolor'> @Anonymous</b></p>
        <% end %>
        <% if ut.size>0 %>
        	
		    <h2><%= ut.last.task.task_name.capitalize %></h2>
		    <span class="small-badge badge status_badge"><%= ut.last.status %></span >
		 <% else %>
		    <h2>No challenge</h2>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h1>No users here</h1>
  <% end %>
</div>
