@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
	--base-color:#FF9F45 ;
	--base-color-dark:#f76e11 ;
	--black: #262626;
	--light-bg: #ff9a56;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter',arial;
	color: var(--black);
}
a
{
	text-decoration: none;
	color: inherit;
}
.container{
	margin: 10px 15px;
}
.nav__container
{
	width: 100%;
	/*background-color: blue;*/
	display: flex;
	padding: 10px;
	min-height: 25px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}
.nav__logo
{
	width: 40%;
	/*border: 2px solid;*/
	display: flex;
	/*justify-content:space-evenly;*/
	align-items: baseline;
	margin-top: 10px;
	margin-left: 10px;
}
.nav__logo h1
{
	font-size: 50px;
	color:var(--base-color-dark);
	font-weight: 900;
}
.nav__elem
{
	width: 60%;
	display: flex;
	justify-content:space-evenly;
	align-items: baseline;

}
.nav__elem__items
{
	font-size: 20px;
	margin-top: 10px;
	margin-right: 25px;

}
.btn
{
	border: 2px solid var(--base-color-dark);
	color: var(--black);
	border-radius: 5px;
	padding: 9px 15px;
	background-color: var(--base-color);
	box-shadow: 0px 3px 0px var(--base-color-dark) ;
	font-weight: 500;
	cursor: pointer;
}
.submit{
	margin-top: 10px;
}
.hero__container
{
	display: flex;
	width: 100%;
	min-width: 100vh;
}
.hero__left{
	min-width: 60%;
	padding: 150px 10px;
}
.hero__left h1
{
	font-size: 50px;
	color: var(--base-color-dark);
	font-weight: 700;
	text-transform: capitalize;
}
.hero__left h2
{
	margin-bottom: 20px;
}
.hero__right
{
	width: 40%;
}
.hero__img
{
	width: 100%;
}
.form__container
{
	margin: 50px 200px;
	padding: 20px;
	display: flex;
	flex-direction:column ;
	/*justify-content: center;*/
	align-items: center;
}
.form__container h1
{
	font-size: 40px;
	color: var(--base-color-dark);
}
.form__control
{
	display: block;
	margin-bottom: 10px;
}
.form__field
{
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid var(--base-color);
	outline: none;
}
.label
{
	font-size: 18px ;
	font-weight: 600;
	display: block;
}
.radio__label
{
	font-size: 18px;
}
.form__container .btn
{
	font-size: 20px;
	width: 100%;
}
.form__field:focus
{
	border: 2px solid var(--base-color-dark);
	box-shadow: 0px 3px 0px var(--base-color-dark) ;

}

.errors__container
{
	margin: 50px 200px;
}
.errors
{
	padding: 30px 20px;	
	background-color: var(--light-bg);
	border-radius: 5px;
	border: 2px solid var(--base-color-dark);

}
.errors__h1
{
	margin-bottom: 10px;

}

.show__container
{
	display: flex;
	width: 100%;
	margin-top: 10em;
	padding-left: 10em;
	overflow: hidden;
}
.show__right__section
{
	min-width: 20%;
	/*margin-right: 50px;*/
}
.no__show
{
	min-width: 15%;
}
.info__elem
{
	border-bottom: 2px solid;
}
.show__left__section{
	width: 60%;
	/*border: 2px solid;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.user_info_container
{
	border: 2px solid;
	padding: 20px;
	border-radius: 10px;
	min-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile__img
{
	width: 150px;
}
.user_info_container h2
{
	font-size: 30px;
}.user_info_container p
{
	font-size: 20px;
}
.badge{
	padding: 10px 15px;
	margin-top: 5px;
	font-size: 20px;
	font-weight: 600;
	background-color: var(--base-color);
	border-radius: 5px;
}
table
{
	border: 4px solid var(--base-color-dark);
	border-bottom:0px ;
	padding: 0;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	background-color: var(--base-color);
	color: var(--base-color-dark);



}
td {
	border-bottom: 4px solid var(--base-color-dark);
	padding: 10px 15px;
	text-align: center;
	width: 100%;

}
.badge-btn
{
	font-size: 15px;
	background-color: var(--black);
	color: var(--base-color-dark);

}
.small-badge
{
	font-size: 13px;
	padding: 7px 8px;
	margin-bottom: 10px;
	color: var(--base-color-dark);
	background-color: var(--black);
}
.flash{
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 13px;
}
.flashh2
{

	color: #fff;
}
.ok
{
	background-color: #3E7C17;
	border: 2px solid #125C13;
}
.fail
{
	background-color: #F23A3A;
	border: 2px solid #C9182B;
	color: #fff;
}.notice
{
	background-color: #FFB26B;
	border: 2px solid #C85C5C;
	color: #000;
}