/*mobile*/
@media only screen and (max-width: 500px) {
	.noshowmobile{
		display: none;
	}
	.mobile
	{
		display:flex;
		width: 100%;
		justify-content: space-between;
		padding: 10px 25px;
		position: sticky;
		top: 0;
		background-color: #fffaf4;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	}
	.navmobile_left h1
	{
		color: #f76e11;
		/*font-size: 25px;*/
		font-weight: 900;

	}
	.navmobile_right
	{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 20px;
	}
	.colororange
	{
		font-size: 20px;
		color: #f76e11;

	}
	.hero__container
	{
		display: none;
	}
	.hero__container_mobile
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #fffaf4;
	}
	.hero__up__mobile{
		padding: 150px 10px;
	}
	.hero__up__mobile h1
	{
		font-size: 45px;
		color: var(--base-color-dark);
		margin-bottom: 10px;
	}.hero__up__mobile h2
	{
		margin-bottom: 35px;
		font-size: 25px;

	}
	/*.hero__down__mobile
	{
		width: 50%;
	}*/
	.hero__img__mobile
	{
		width: 90%;
	}
	.sec__hero__up h1
	{
		margin-bottom: 30px;
	}
	.sec_hero_img__mobile
	{
		margin-top: -100px;
	}

	.sidepanel
	{
		display: flex;
		z-index: 1000;
		min-height: 100%;
		position: fixed;
		top: 0;
		background-color: red;
		width: 70%;
		flex-direction: column;
		font-size: 30px;
		padding: 20px 30px;
		text-transform: capitalize;
		background-color: #fffaf4;
		/*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);*/
		/*box-shadow: 11px 0 25px rgb(0 0 0 / 17%);*/
		box-shadow: 11px 0 25px rgba(0,0, 0, 0.2);
	}
	.hide
	{
		display: none;
		opacity: 0;
		transition: 0.1s ease;
	}
	.sidepanel span
	{
		font-weight: 300;
		margin-bottom: 25px;
	}
	.side
	{
		text-align: center;
		font-size: 20px;
	}
	.login_container
	{
		margin: 50px auto;
	}
	.flash
	{
		padding: 10px;
		width: 90%;
	}
	.images_controller
	{
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.imagediv
	{
		width: 50%;
	}
	.show__container
	{
		flex-direction: column;
		margin: auto;
		/*margin-left: -2em;*/
		padding: 0;

	}
	.show__left__section
	{
		margin-top: 15px;
		width: 100%;
		margin: auto;
		background-color: #fff;
	}
	.user_info_container
	{
		width: 100%;
	}
	.user_info_container p 
	{
		font-size: 15px;
	}
	.show__right__section{
		margin: auto;
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.task_container
	{
		margin-top: 30px;
	}
	.task_container h1
	{
		font-size: 36px;
		margin-bottom: 10px;
		margin-top: 18px;
		text-align: center;
	}
	.task_button
	{
		flex-direction: column;
	}
	.task_button .button
	{
		margin-bottom: 10px;
	}
	.task_container
	{
		width: 90%;
	}
	.users_container
	{
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.users_container .users
	{
		width: 100%;
		margin-left: -1px;
	}
	.errors__container
	{
		margin: 50px 10px;
	}
	.errors
	{
		padding: 8px 30px;
	}
	.errors__h1
	{
		font-size: 20px;
	}
	.errors h3
	{
		font-size: 15px;
	}
	.top_users
	{
		width: 100%;
	}
	.users_with_points h2	
	{
		font-size: 17px;
	}
}