<% flash.each do |name,msg| %>
  <div class="flash <%= name %>">
  <h2 class="flashh2"><%= msg %></h2>
    <span class="crossbtn" ><i class="fa-solid fa-rectangle-xmark whitecolor"></i></span>
  </div>


<% end %>
