<nav>
	<div class="nav__container">
		
	<div class="nav__logo">
		<h1>
				<%= link_to 'Better You',root_path %>
		</h1>
	</div>
	<div class="nav__elem">
		<span class="nav__elem__items">Books</span>
		<span class="nav__elem__items">Users</span>
		<span class="nav__elem__items btn"><i class="fa-solid fa-user-plus"></i> <%= link_to 'Signup',signup_path %> </span>
		<span class="nav__elem__items btn"><i class="fa-solid fa-lock"></i> <%= link_to 'Login',login_path %></span>
	</div>

	</div>
</nav>